/ClinicManagement/nbproject/private/
/ClinicManagement/ClinicManagement-ejb/nbproject/private/
/ClinicManagement/ClinicManagement-war/nbproject/private/
/ClinicManagement/dist/
/ClinicManagement/build/
/ClinicManagement/ClinicManagement-ejb/build/
/ClinicManagement/ClinicManagement-ejb/dist/
/ClinicManagement/ClinicManagement-war/build/
/ClinicManagement/ClinicManagement-war/dist/
