/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 Mar, 2024, 3:57:45 PM
    Author     : shionhigashi
*/

/* DATA TABLE */

.tableContainer {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: black;
    font-family: 'Montserrat';
    font-weight: bold;
}

th {
    text-align: left;
}

thead {
    th {
        background-color: white;
    }
}

tbody {
    tr {
        &:hover {
            background-color: rgba(255,255,255,0.3);
        }
    }
    td {
        position: relative;
        &:hover {
            &:before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -9999px;
                bottom: -9999px;
                background-color: rgba(255,255,255,0.2);
                z-index: -1;
            }
        }
    }
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
}

.patientDetails-card {
  width: 500px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
  padding: 35px;
  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  left: 30%;
  top: 20%;
  position: absolute;
}

.viewPatientProfile-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: 'Poppins', sans-serif;
  border-radius: 6px;
  border: none;
  color: #fff;
  width: 180px;
  background: #B9DDDF;
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}